* {
    margin: 0;
    /* margin-bottom: 5.4%; */
}

body{
    /* font-family: 'Muli', sans-serif;
    background-color: black;
    color: white; */

    font-family: 'Muli', sans-serif;
    /* background-color: black; */
    /* color: white; */
    /* background-color: #f6f0c4; */
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    /* background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%); */

}

.navbar{
    /* background-color: purple;
    color: white;
    text-align: center;
    padding: 1em;
    font-weight: bolder;
    font-size: 1.8rem; */

    color: white;
    backdrop-filter: blur(-1px);
    cursor: crosshair;
    text-align: center;
    padding: 1em;
    font-weight: bolder;
    font-size: 1.8rem;
    background-color: #8d5185;
    background-image: linear-gradient(315deg, #ea88dd 0%, #6f7da2 74%);

}


.content{
    text-align: center;
    padding: 1em;
    margin: 2em;
    margin-top: 3em;
    border: 3px solid orange;
}
heading{
    font-size: 1.5rem;
    padding: 24px;
    /* color: white; */
}
heading:hover{
    color: red;
}
input{
    padding: 0.7em;
    width: 40%;
}
.button{
    /* background-color: blue; */
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    padding: 0.9em 1.5em;
    color: white;
    /* border-color: red; */
    font-size: 0.8rem;
}
.button:hover{
    background-color: red;
    border-color: orangered;
}
.loading{
    display: none;
}
.suggestion{
    /* display: flex; */
    /* flex-wrap: wrap; */
    background-color: lightskyblue;
    color: black;
    /* display: block; */
    margin: 5px;
    padding: 8px;
    /* width: 5%;*/
    /* /display: block; */
    /* flex-wrap: wrap; 
    justify-content: center;*/
    line-height: 8vh;
    
    /* display: inline-block; */
}
.suggestion:hover{
    background-color: red;
    color: white;
}
.suggestheading{
    justify-content: center;

}
.audio{
    /* margin: 5vh; */
    margin-top: 5vh;
    overflow: hidden;
    
}
.not_found{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}
footer{
    color: white;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #e4b5cb;
    background-image: linear-gradient(315deg, #e4b5cb 0%, #722ae6 74%);
    text-align: center;
    /* padding: 1em; */
}
.footercontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5em;
    /* padding: 0.5em; */
}